.App {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

}

.App h1:hover {
  color: red;
  font-weight: bolder;
  font-size: 3rem;
}

.button {
  font-size: 1rem;
  background-color: brown;
  padding: 5px;
  margin-bottom: 1rem;

}

.button:hover {
  background-color: #fff;
  color: black;
}